@charset "UTF-8";
/* CSS Document */

html {
	background-color: black;
}
body {
	font-family: 'Noto Sans Japanese',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background: #000;
}
div {
	float: left;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
#wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 1020px;
	background: url(../img/eiffel_bg.jpg);
}

#boardarea {
	position: relative;
	margin-left: 30px;
	margin-bottom:12px;
	padding-top:24px;
	width: 960px;
	background: linear-gradient(rgba(150,150,150,.6), rgba(0,0,0,.3));
}


/* Header */
#header {
	position:relative;
	margin-top:12px;
	margin-left:30px;
	width:960px;
	background-color:rgba(180,180,180,.8)
}	

#logo {
	position: relative;
	font-family: impact, sans-serif;
	color: ivory;
	margin-left: 48px;
	margin-top: 12px;
	margin-bottom:12px;
	padding-top: 12px;
	width:480px;
}

#snslogo {
	margin-left:200px;
	margin-top:24px;
	margin-bottom:24px;
}

/* Navigation */

#navi ul {
	clear:left;
	position:absolute;
	width:960;
	height:24px;
	top:24px;
}

#navi li {
	float:left;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size:20px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
	text-decoration:none;
	text-align:center;
	border:solid orange 3px;
	width:186px;
	background-color:rgba(0,0,0,0.7);
}

#navi li:first-child {
	background-color:orange;
}

#navi li a{
	color:ivory;
}

#navi li a:hover {
	color:Orange;
}

/* Main Contents */

/* Slide Show */

#slideshow {
	position: relative;
	width: 480px;
	height: 320px;
	margin-left: 24px;
}
#slideshow li {
	height: 0px;
}
 @-webkit-keyframes slide {
 0% {
 opacity:0;
}
 5% {
 opacity:1;
}
 15% {
 opacity:1;
}
 20% {
 opacity:0;
}
 100% {
 opacity:0;
}
}
 @keyframes slide {
 0% {
 opacity:0;
}
 5% {
 opacity:1;
}
 15% {
 opacity:1;
}
 20% {
 opacity:0;
}
 100% {
 opacity:0;
}
}

#slideshow img {
	opacity: 0;
	-webkit-animation: slide 24s ease-in infinite;
	animation: slide 24s ease-in infinite;
}
#slideshow .image2 {
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
}
#slideshow .image3 {
	-webkit-animation-delay: 8s;
	animation-delay: 8s;
}
#slideshow .image4 {
	-webkit-animation-delay: 12s;
	animation-delay: 12s;
}
#slideshow .image5 {
	-webkit-animation-delay: 16s;
	animation-delay: 16s;
}
#slideshow .image6 {
	-webkit-animation-delay: 20s;
	animation-delay: 20s;
}
/* Message Board */

#message {
	width: 400px;
	font-size: 18px;
	color: ivory;
	background-color:rgba(0,0,0,0.9);
	opacity:0.9;
	margin-left: 24px;
	margin-top: 32px;
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	background-image: url(../img/messageline.png);
	background-repeat: no-repeat;
	background-position: 24px -6px;
}
#message .cup {
	margin-left: 36px;
}
#message h1 {
	text-align: center;
}
#message h1 b {
	color: Orange;
	font-size: 20px;
}
#message h2 {
	font-size: 18px;
	text-align: center;
}
#message h3 {
	font-size: 16px;
	text-align: center;
	padding-left: 12px;
	padding-right: 12px;
}
/* About Cafe De Paris */

#latteabout {
	margin-left: 36px;
}
/* News Board */

#news {
	float: left;
	width: 480px;
	font-size: 18px;
	color: ivory;
	margin-top: 24px;
	margin-left: 24px;
	padding-top: 12px;
	padding-left: 12px;
	padding-bottom: 24px;
	background-color:rgba(0,0,0,0.9);
	opacity:0.9;
	background-image: url(../img/newsline.png);
	background-repeat: no-repeat;
	background-position: 0px 64px;
}
#news p {
	font-size: 14px;
	padding-left: 24px;
}
#news img {
	padding-left: 120px;
	padding-bottom: 24px;
}
/* Menu Board */

#menu {
	width: 360px;
	color: ivory;
	background-color:rgba(0,0,0,0.8);
	margin-top: 36px;
	margin-left: 48px;
	padding: 12px 0px 12px 12px;
	background-image: url(../img/menuline.png);
	background-repeat: no-repeat;
	background-position: 120px 36px;
}
#menu img {
	float: left;
	margin-left: 24px;
}
#menu h1 {
	position: relative;
	font-size: 36px;
	padding-left: 160px;
	margin-bottom: 24px;
}
#menu p {
	font-size: 18px;
	padding-left: 24px;
	padding-bottom: 12px;
}
#menu p.curry {
	padding-left: 48px;
	padding-right: 12px;
}
#menu p.spagetti {
	padding-left: 36px;
	padding-right: 12px;
}
#menu p.breakfast {
	padding-left: 24px;
	padding-right: 12px;
}
#menu p.cake {
	padding-left: 60px;
	padding-right: 12px;
}
/* Access Board */

#access {
	margin-left: 24px;
}
#access h1 {
	margin-top: 12px;
	margin-left: 12px;
	color: ivory;
}
#access p {
	color: ivory;
	font-size: 16px;
	margin-top: -3em;
}
#access iframe {
	float: left;
	margin-right: 12px;
	margin-top: 24px;
}
#inquiry {
	float: left;
	margin-top: 36px;
	margin-left:36px;
}

#inquiry h1 {
	margin-left:0px;
}
#inquiry address {
	color: ivory;
}
#mailto {
	background-color: Orange;
	height: 28px;
	width: 252px;
	text-align: center;
	margin-left: 12px;
	margin-top:12px;
	border-radius:3px;
}
#mailto img {
	float: left;
}
#mailto p {
	margin-top: 2px;
}

/* Footer */

#footer {
	width:948px;
	margin-top: 36px;
	padding-left:12px;
	background-color:rgba(0,0,0,0.5);
}
#footer ul {
	clear:left;
}
#footer h1 {
	float: left;
	border-left: solid orange 2px;
	padding-left: 6px;
	padding-right: 20px;
	margin-top:12px;
	color: ivory;
}
#sitemap {
	margin-left:14px;
}
#sitemap li {
	float:left;
	margin-right:12px;
}
#sitemap h2 {
	color:ivory;
}
#snslogofooter{
	margin-top:24px;
	margin-left:700px;
}
#contact {
	clear:left;
	color:ivory;
	text-align:center;
	font-size:12px;
	width:948px;
}
#contact h2 {
	font-size:16px;
}
#copyright {
	width:948px;
	clear: left;
	color: rgba(229,219,199,1.00);
	text-align: center;
	font-size: 12px;
	margin-top:12px;
	padding-bottom: 12px;
}
