@charset "UTF-8";
/* CSS Document */

html {
	background-color: black;
}
body {
	font-family: 'Noto Sans Japanese',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background: #000;
}
div {
	float:left;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}

#wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 1020px;
	background: url(../img/eiffel_bg.jpg);
}

#boardarea {
	position: relative;
	margin-left: 30px;
	margin-bottom:12px;
	width: 960px;
	background: linear-gradient(rgba(150,150,150,.6), rgba(0,0,0,.3));
}


/* Header */
#header {
	position:relative;
	margin-top:12px;
	margin-left:30px;
	width:960px;
	background-color:rgba(180,180,180,.8)
}	

#logo {
	position: relative;
	font-family: impact, sans-serif;
	color: ivory;
	margin-left: 48px;
	margin-top: 12px;
	margin-bottom:12px;
	padding-top: 12px;
	width:480px;
}

#snslogo {
	margin-left:200px;
	margin-top:24px;
	margin-bottom:24px;
}

/* Navigation */

#navi ul {
	clear:left;
	position:absolute;
	width:960;
	height:24px;
	top:24px;
}

#navi li {
	float:left;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size:20px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
	text-decoration:none;
	text-align:center;
	border:solid orange 3px;
	width:186px;
	background-color:rgba(0,0,0,0.7);
}

#navi li:nth-child(2) {
	background-color:orange;
}

#navi li a{
	color:ivory;
}

#navi li a:hover {
	color:Orange;
}

/* Main Contents */

#LatteCup {
	float:left;
	margin:24px;
}

/* Owner Message */
#ownermessage {
	width:690px;
	background-color:rgba(0,0,0,0.9);
	margin-left:12px;
	margin-top:48px;
	margin-bottom:36px;
	border:outset orange 12px;
}

#ownermessage img {
	float:left;
	margin-top:12px;
	margin-left:12px;
}

#ownermessage p {
	padding-left:12px;
	font-size:11pt;
	color:ivory;
	padding-left:128px;
	padding-top:12px;
	padding-bottom:12px;
	padding-right:12px;
}


/* Art Board 1 */

#artboard li {
	float:left;
	width:254px;
	background-color:rgba(0,0,0,0.7);
	margin-left:24px;
	padding:12px;
	text-align:center;
}

#artboard h1 {
	color:yellow;
	
}

#artboard .milkpitcher{
	margin-top:12px;
	margin-bottom:12px;
}

#pic1 {
	margin-top:-166px;
}

#pic2 {
	margin-top:-192px;
}
#pic3 {
	margin-top:-98px;
}

#artboard p {
	font-size:10pt;
	color:ivory;
	border-bottom:inset orange 6px;
	margin-top:24px;
}

#artboard #latte1 {
	margin-top:-166px;
}
#artboard #latte2 {
	margin-top:-192px;
}
#artboard #latte3 {
	margin-top:-98px;
}

#artboard a:hover .milkpitcher {
	-webkit-transform:rotate(-80deg);
	-webkit-transition-duration:2s;
	transform:rotate(-80deg);
	transition-duration:2s;
}

#artboard a:hover .picture {
	-webkit-animation: slide 4s ease-in;
	-webkit-animation-fill-mode:forwards;
	animation: slide 4s ease-in;
	animation-fill-mode:forwards;
}

 @-webkit-keyframes slide {
 0% {
 opacity:0;
}
 100% {
 opacity:1;
}
}
 @keyframes slide {
 0% {
 opacity:0;
}
 100% {
 opacity:1;
}
}

/* Latte Art Gallery */

#latteartgallery {
	width:888px;
	margin-left:24px;
	margin-top:36px;
	padding:12px;
	background-color:rgba(0,0,0,0.7);
}

#latteartgallery h1 {
	color:ivory;
	text-align:center;
	font-size:20px;
	margin-bottom:12px;
	border-bottom:solid orange 3px;
}

#latteartgallery .latteart {
	float:left;
	margin:2px;
}

/* Footer */

#footer {
	width:948px;
	margin-top: 36px;
	padding-left:12px;
	background-color:rgba(0,0,0,0.5);
}
#footer ul {
	clear:left;
}
#footer h1 {
	float: left;
	border-left: solid orange 2px;
	padding-left: 6px;
	padding-right: 20px;
	margin-top:12px;
	color: ivory;
}
#sitemap {
	margin-left:14px;
}
#sitemap li {
	float:left;
	margin-right:12px;
}
#sitemap h2 {
	color:ivory;
}
#snslogofooter{
	margin-top:24px;
	margin-left:700px;
}
#contact {
	clear:left;
	color:ivory;
	text-align:center;
	font-size:12px;
	width:948px;
}
#contact h2 {
	font-size:16px;
}
#copyright {
	width:948px;
	clear: left;
	color: rgba(229,219,199,1.00);
	text-align: center;
	font-size: 12px;
	margin-top:12px;
	padding-bottom: 12px;
}
